<%- include('headFoot/header') %>

<h1> Congratulations! </h1>
You reached <%= cLeft %> from <%= lStart %> and <%= rStart %> in <%= steps %> steps.

  <a class="btn btn-dark" href='/restart2'> New Game </a>


<%- include('headFoot/footer') %>
