<%- include('headFoot/header') %>
<%- include('headFoot/2PagesBar') %>
<script src="/javascript/handleLinks.js"></script>

<div class="leftLinks half">
  <h2> <%= cLeft %> </h2>
  <br>
  <form action='?' method='post' id='linkFormLeft'>
      <input type='hidden' name='link' id='link1' value=''>
      <input type="hidden" name="orientation" value='L'>
      <ol>
      <% for (let item of linksLeft) { %>
      <li>  <a href="javascript:submitThisLinkLeft('<%= item %>')"><%= item %></a></li><br>
      <% } %>
      </ol>
  </form>
</div>
<div class="rightLinks half">
  <h2> <%= cRight %> </h2>
  <br>
  <form action='?' method='post' id='linkFormRight'>
      <input type='hidden' name='link' id='link2' value=''>
      <input type="hidden" name="orientation" value='R'>
      <ol>
      <% for (let item of linksRight) { %>
      <li>  <a href="javascript:submitThisLinkRight('<%= item %>')"><%= item %></a></li><br>
      <% } %>
      </ol>
  </form>
</div>


<%- include('headFoot/footer') %>
