<%- include('headFoot/header') %>

Return to Selection
<br>
<% if (!sAmbiguous){%>
Your starting point, <%= startTerm %>, was not ambiguous, so there is no need to change it.
<% } %>

<% if (!eAmbiguous){%>
Your ending point, <%= endTerm %>, was not ambiguous, so there is no need to change it.
<% } %>

<form action='/checkit' method="get" id='wikiForm'>
  <input type='hidden' name='random' value='false'>
  <% if (sAmbiguous && eAmbiguous){ %>
  Your starting point, <%= startTerm %>, was ambiguous. You're going to need to be more specific. Here are options based on your starting point.
  <br>
  <select name='start' id='startSelect'>
    <% for(x in sList){ %>
    <option value='<%= sList[x] %>'> <%= sList[x] %> </option>
    <% } %>
  </select>
  <br>
  Your ending point, <%= endTerm %>, was ambiguous. You're going to need to be more specific. Here are options based on your ending point.
  <br>
  <select name='end' id='endSelect'>
    <% for(x in eList){ %>
    <option value='<%= eList[x] %>'> <%= eList[x] %> </option>
    <% } %>
  </select>
  <% } else if (sAmbiguous){ %>
  <input type='hidden' name='end' value='<%= endTerm %>'>
  Your starting point, <%= startTerm %>, was ambiguous. You're going to need to be more specific. Here are options based on your starting point.
  <br>
  <select name='start' id='startSelect'>
    <% for(x in sList){ %>
    <option value='<%= sList[x] %>'> <%= sList[x] %> </option>
    <% } %>
  </select>
  <% } else if (eAmbiguous){ %>
  Your ending point, <%= endTerm %>, was ambiguous. You're going to need to be more specific. Here are options based on your ending point.
  <br>
  <select name='end' id='endSelect'>
    <% for(x in eList){ %>
    <option value='<%= eList[x] %>'> <%= eList[x] %> </option>
    <% } %>
  </select>
  <% } %>
  <% } %>
  <br>
  <button type='submit' class='btn btn-dark'>Confirm</button>
</form>


<%- include('headFoot/footer') %>
