<%- include('headFoot/header') %>
<div class='centerInfo'>
<h1> Congratulations! </h1>
You reached <%= end %> from <%= start %> in <%= steps %> steps.
<br><br>
  <a class="btn btn-dark" href='/restart'> New Game </a>
<br><br>
  <h2> History </h2>
  <table class="table">
    <thead>
      <tr>
        <th scope='col'> Step Number </th>
        <th scope='col'> Wikipedia Article Title</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col"> 0 </td>
        <td scope="col"> <%= start %> </td>
      </tr>
      <% for (let x = 1; x < history.length; x++){%>
        <tr>
          <td scope="col"> <%= x  %> </td>
          <td scope="col"> <%= history[x] %> </td>
        </tr>
      <% } %>
    </tbody>
  </table>

</div>
<%- include('headFoot/footer') %>
