<%- include('headFoot/header') %>

<h1> Congratulations! </h1>
You reached <%= end %> from <%= start %> in <%= steps %> steps.

  <a class="btn btn-dark" href='/restart'> New Game </a>


<%- include('headFoot/footer') %>
